      </div>
    </div>
    <footer></footer>
    <% if (typeof libs !== 'undefined') { %>
      <% for (let lib of libs) { %>
          <script src='/js/<%= lib %>.js' type='text/javascript'></script>
      <% } %>
  <% } %>
  </body>
</html>