<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="js/header.js" defer></script>
  <title><%= title %></title>
</head>
<body>
  <header>
    <div class="logo">
    <h1>MembersOnly</h1>
  </div>
  <nav class="nav">
    <% if (currentUser) { %>
      <button onclick="window.location.href='/logout'">Logout</button>
      <% if (currentUser.membership_status === 'inactive') { %>
      <button id="join-btn">Join Club</button>
      <dialog class="join-dialog">
        <h3>Enter the secret key to become a member</h3>
        <form method="POST" action="/join">
          <div class="inputContainer">
          <label class="sr-only" for="secret">Secret Key</label>
          <input type="text" name="secret" autofocus>
        </div>
          <button type="submit">Submit</button>
          <button type="button" class="close-btn">Cancel</button>
        </form>
      </dialog>
      <% } %>
    <% } else { %>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/register'">Sign Up</button>
    <% } %>
    
  </nav>
  </header>
